body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 45px;
}
.name-color{
    color:orange;
}
section{
    display:flex;
}
.half-width{
    width:70%;
    padding-left: 8%;
}
.half-width p{
    text-align: justify;
}
.half-width img{
    width: 100%;  
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}